### Complexity Level - Simple

Q1. Create a list of first 20 natural numbers 

a. using for loop

b. using while loop

c. using list comprehension

In [1]:
li1 = []
for i in range(1,21):
    li1.append(i)
li1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
li2 = []
i=1
while i<21:
    li2.append(i)
    i+=1
li2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
l_c = [i for i in range(1,21)]
l_c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Q2. Take the input of Q1 list display (Use loops, list comprehension, lambda function)
a. alternate number

b. only even numbers

c. numbers greater than 5

d. numbers divible by 4

In [5]:
# using loop
for i in range(1,len(li1),2):
    print(i, end=' ,')

1 ,3 ,5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,

In [6]:
# list comprehension
[w for w in li2 if w%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
# using lambda
list(filter(lambda x: x>5, li1))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
list(filter(lambda x: x%4==0, li1))

[4, 8, 12, 16, 20]

Q3.Take the input of Q1 list and create a dictionary (Use loops, dictionay  comprehension, lambda function)

a. Key as 1, 2, 3, 4, 5 and values as numbers divible by 1, numbers divible by 2, numbers divible by 3, numbers divible by 4, numbers divible by 5

b.  Key as 1, 2, 3, 4, 5 and values as count of numbers divible by 1, count of numbers divible by 2, count of numbers divible by 3, count of numbers divible by 4, count of numbers divible by 5

In [11]:
# using loops
d1 = dict()
for i in range(1,6):
    d1[i] = list(filter(lambda x:x%i==0, li1))
d1

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 3: [3, 6, 9, 12, 15, 18],
 4: [4, 8, 12, 16, 20],
 5: [5, 10, 15, 20]}

In [18]:
d2 = dict()
for i,j in enumerate(d1.values()):
    d2[i+1] = len(j) 
d2

{1: 20, 2: 10, 3: 6, 4: 5, 5: 4}

In [19]:
# using dictionary comprehension
{n:[i for i in li1 if i%n==0] for n in range(1,6)}

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 3: [3, 6, 9, 12, 15, 18],
 4: [4, 8, 12, 16, 20],
 5: [5, 10, 15, 20]}

In [20]:
{n:len([i for i in li1 if i%n==0]) for n in range(1,6)}

{1: 20, 2: 10, 3: 6, 4: 5, 5: 4}

In [ ]:
# using lambda functions

Q4. Write a function to check if the given number is prime or not.

In [12]:
def primeChecker(num1):
    if num1==0 or num1==1 or num1==2:
        return False
    for i in range(2, num1):
        if num1%i==0:
            return False
    return True

In [22]:
primeChecker(23)

True

Q5. Use the function created in Q4 and create a dictionary where keys are 'prime' and 'non-prime' and values are list of prime numbers and non-prime number respectively in given range.

In [25]:
ll = int(input('Enter the lower range: '))
ul = int(input('Enter the upper range: '))
d11 = {'prime':[w for w in range(ll, ul) if primeChecker(w)==True]}
d22 ={'non prime':[w for w in range(ll, ul) if primeChecker(w)==False]}
d11,d22

Enter the lower range: 12
Enter the upper range: 46

({'prime': [13, 17, 19, 23, 29, 31, 37, 41, 43]},
 {'non prime': [12,
   14,
   15,
   16,
   18,
   20,
   21,
   22,
   24,
   25,
   26,
   27,
   28,
   30,
   32,
   33,
   34,
   35,
   36,
   38,
   39,
   40,
   42,
   44,
   45]})

Q6. Use the function created in Q4 and create a dictionary where keys are 'prime' and 'non-prime' and values are count of prime numbers and non-prime numbers respectively.

In [27]:
ll = int(input('Enter the lower range: '))
ul = int(input('Enter the upper range: '))
d11 = {'prime':len([w for w in range(ll, ul) if primeChecker(w)==True])}
d22 ={'non prime':len([w for w in range(ll, ul) if primeChecker(w)==False])}
d11,d22

Enter the lower range: 22
Enter the upper range: 50

({'prime': 7}, {'non prime': 21})

Q7. Add all the elements of the list created in Q1

In [28]:
sum(li1)

210

Q8. Divide the each number by 5, round the result to 2 decimal places

In [31]:
[round(w/5,4) for w in li1]

[0.2,
 0.4,
 0.6,
 0.8,
 1.0,
 1.2,
 1.4,
 1.6,
 1.8,
 2.0,
 2.2,
 2.4,
 2.6,
 2.8,
 3.0,
 3.2,
 3.4,
 3.6,
 3.8,
 4.0]

Q9. Generate a list with 20 random number between 1 to 100. Display the list in order

In [36]:
import numpy as np
ran_list = [np.random.randint(1,100) for i in range(20)]
sorted(ran_list)

[10,
 23,
 25,
 25,
 27,
 29,
 46,
 47,
 50,
 60,
 67,
 72,
 81,
 81,
 90,
 96,
 97,
 98,
 98,
 99]

Q10. Find mean, mode and median of the list generated in Q9.

In [41]:
arr = np.array(ran_list)
print(arr.mean(), np.median(arr))

61.05 63.5

In [43]:
mode_count = max([ran_list.count(x) for x in ran_list])
mode = [x for x in ran_list if ran_list.count(x) == mode_count]
mode = list(set(mode)) 
mode

[81, 25, 98]

Q11. Generate the frequncy  table for the list generated in Q9.

In [46]:
{x:max([ran_list.count(x) for x in ran_list]) for x in ran_list}

{23: 2,
 25: 2,
 90: 2,
 99: 2,
 81: 2,
 98: 2,
 96: 2,
 46: 2,
 50: 2,
 67: 2,
 29: 2,
 97: 2,
 10: 2,
 47: 2,
 72: 2,
 60: 2,
 27: 2}

Q 12. Genrate a nested list from the list generated in Q9, where each sublist will have 5 elements.

In [49]:
[ran_list[i:i+5] for i in range(0, len(ran_list), 5)]

[[23, 25, 90, 99, 81],
 [98, 96, 46, 50, 67],
 [29, 97, 81, 98, 10],
 [47, 72, 60, 27, 25]]

Q13. Generate a list of 7 strings store it as list_word.
list_word = ['a','abc','p','pqr','x','xyz','apple','pear']
Sort the list with respct to length of the string

In [61]:
list_word = ['a','abc','p','pqr','x','xyz','apple','pear']
di12=dict()
for w in list_word:
    di12[w] = len(w)
sodi12=sorted(di12.items(), key=lambda x:x[1])
list_word2 = []
for w in sodi12:
    list_word2.append(w[0])
list_word2

['a', 'p', 'x', 'abc', 'pqr', 'xyz', 'pear', 'apple']

In [9]:
list_word = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
sorted_list = sorted(list_word, key=len)
print(sorted_list)

['a', 'p', 'x', 'abc', 'pqr', 'xyz', 'pear', 'apple']

Q14. Use list_word, display the first letter in capital case.

In [4]:
[w.title() for w in list_word]

['A', 'Abc', 'P', 'Pqr', 'X', 'Xyz', 'Apple', 'Pear']

In [8]:
capitalized_list = [word.capitalize() for word in list_word]
print(capitalized_list)

['A', 'Abc', 'P', 'Pqr', 'X', 'Xyz', 'Apple', 'Pear']

Q15. Sort list_word with respect to last letter

In [68]:
sodi12=sorted(di12.keys(), key=lambda x:x[-1])

In [69]:
sodi12

['a', 'abc', 'apple', 'p', 'pqr', 'pear', 'x', 'xyz']

Q16. Create a list of word lengths of list_word. a. Use loop b. Use list comprehension

In [70]:
[len(w) for w in list_word]

[1, 3, 1, 3, 1, 3, 5, 4]

Q17. Create a dictionary with word length as key and list of words with same length as values.

In [71]:
di13=dict()
for w in list_word:
    di13[len(w)] = w
di13

{1: 'x', 3: 'xyz', 5: 'apple', 4: 'pear'}

Q18. Filter the words with length more than 1

In [72]:
{len(k): [w for w in list_word if len(w)==len(k)] for k in list_word}

{1: ['a', 'p', 'x'], 3: ['abc', 'pqr', 'xyz'], 5: ['apple'], 4: ['pear']}

Q19. Consider the below list list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']. Find out the common elements of list_word and list_2. 

a. Use loops 

b. Use sets 

c. Use lambda function

In [84]:
list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']
common_el = []
for w in list_2:
    if str(w).lower() in list_word:
        common_el.append(w)
common_el

['Apple', 'Pear']

In [85]:
set1 = set(list_word)
set2 = set(list_2)
set2.intersection(set1)

set()

In [96]:
list_2

['Cherry', 'Banana', 'Apple', 'Mango', 'Pear']

Q20. For every word in list_2 replace each letter by its next letter. Letters at odd places should be replaced as capital letters.

In [97]:
list1= []
for w in list_2:
    list1.append(w[1:])
list1

['herry', 'anana', 'pple', 'ango', 'ear']

Q21. Find out unique letters used in list_2

In [98]:
set1 = set()
for w in list_2:
    for j in w:
        if j not in set1:
            set1.add(j)
set1

{'A', 'B', 'C', 'M', 'P', 'a', 'e', 'g', 'h', 'l', 'n', 'o', 'p', 'r', 'y'}

Q22. Display the words in the list_2 eliminating vowels.

In [100]:
def delete_vowels_from_list(word_list):
    vowels = ['a', 'e', 'i', 'o', 'u']

    for i in range(len(word_list)):
        word = word_list[i].lower()
        modified_word = ''

        for char in word:
            if char not in vowels:
                modified_word += char

        word_list[i] = modified_word

    return word_list

In [101]:
delete_vowels_from_list(list_2)

['chrry', 'bnn', 'ppl', 'mng', 'pr']

Q23. Create a list of words with reverse order with words in the list_2

In [99]:
sorted(list_2, reverse=True)

['Pear', 'Mango', 'Cherry', 'Banana', 'Apple']

## Complexity level - Medium

Q1. For any given string find out, is it a palindrome

In [2]:
def palindrome(sr1):
    sr2=''
    for w in sr1:
        sr2 = w + sr2
    return sr2
palindrome("Vishwajeet")

'teejawhsiV'

Q2. Reverse the given number.

In [5]:
list3 = [12,23,34,56]
list3[-1:-len(list3)-1:-1]

[56, 34, 23, 12]

Q3. Add the digits at unit place and 100th place from a given number

In [8]:
# 1236
def placeAdders(num1):
    s1 = str(num1)
    s3 = palindrome(s1)
    return int(s3[0])+int(s3[2])
placeAdders(1236)

8

Q4. Display all the factors of the given number

In [11]:
def factor_dis(num1):
    fac = []
    for i in range(1, num1):
        if num1%i==0:
            fac.append(i)
    return fac
factor_dis(16)

[1, 2, 4, 8]

Q5. Display all the prime factors for the given number

In [13]:
def prime_factor(num1):
    fac=[]
    for i in range(1, num1):
        if num1%i==0 and primeChecker(i):
            fac.append(i)
    return fac
prime_factor(49)

[7]

Q6. Generate 2 random numbers and display product of their common factors?

In [15]:
import numpy as np
np.random.randint(1,100)*np.random.randint(100,200)

14345

Q7. Create the following series 0,1,3,6,10,15......

1. Accept a number n from the user and check is it part of the series

2. Accept a number n from the user and generate nth number of the series

In [11]:
lii=[]
n= int(input("Enter a number: "))
sum = 0
for i in range(n): # 1,2,3,4, to calculate the number like 0,1,3,6,10,15,21
    sum+=i
    lii.append(sum)
    
lii

Enter a number: 7

[0, 1, 3, 6, 10, 15, 21]

In [21]:
lii=[]
n= int(input("Enter a number: "))
sum = 0
for i in range(n):
    sum+=i
    lii.append(sum)
    
if n in lii:
    print("True")
else:
    print("False")

Enter a number: 15
True

In [2]:
l1 = ['a', 'b', 'c']
l2 = [10, 23, 24, 25]
list(zip(l1, l2))

[('a', 10), ('b', 23), ('c', 24)]

In [3]:
l1 = ['apple', 'guava', 'mango', 'watermelon']

In [6]:
def vowel_count(list1):
    li12 = []
    vow = 'aeiouAEIOU'
    for w in list1:
        count=0
        for char in w:
            if char in vow:
                count+=1
        if count>0:
            li12.append([w,count])
    return li12

In [7]:
vowel_count(l1)

[['apple', 2], ['guava', 3], ['mango', 2], ['watermelon', 4]]

In [18]:
def count_vow(x):
    vow = 'AEIOUaeiou' 
    count =0
    for w in x:
        if w in vow:
            count+=1
    return count

In [19]:
list(map(count_vow, l1))

[2, 3, 2, 4]

In [10]:
def vowel_ending(x):
    vow = "aeiouAEIOU"
    if x[-1] in vow:
        return True
    return False

In [13]:
list(filter(vowel_ending, l1))

['apple', 'guava', 'mango']

In [14]:
l123 = [[32,45,3],[34, 8,9], [7,9,10]]
list(map(lambda x:sum(x), l123))

[80, 51, 26]

In [20]:
import functools, itertools

In [22]:
functools.reduce(lambda x,y : x+y, l2)

82

In [25]:
list(itertools.accumulate( l2, lambda x,y : x+y))

[10, 33, 57, 82]

In [30]:
'*'.center(0)

'*'

In [36]:
' '.rjust(10)

'          '

In [37]:
str1 = '*'
for i in range(5):
    print(' '.ljust(i), end=' ')
    print(str1.center(i), end=' ')
    print(str1.rjust(i), end=' ')
    print()

  * *
  * *
   *   *
     *    *
      *      *

In [38]:

for i in range(5):
    print(" "*(5-i-1), end='')
    print('*'*(2*i+1))

    *
   ***
  *****
 *******
*********

In [40]:
ord('A')

65

In [41]:
chr(65)

'A'

In [48]:
k=0
for i in range(5):
    for j in range(i+1):
        print(chr(ord('A')+j+k), end=' ')
        if j==i:
            k+=1
    print()

A
B C
C D E
D E F G
E F G H I

In [49]:
ascii_str = ord('A')

for i in range(6):
    
    for j in range(i+1):
        print(chr(ascii_str), end=' ')
        ascii_str+=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [ ]:
def p(num):
    for i in range(2, num):
        if num%i==0:
            return False