# Pytrhon Interview Practice Questions

In [1]:
import pandas as pd
# Series Object

In [2]:
[i for i in range(1,11) if i%2==0] # odd number

[2, 4, 6, 8, 10]

In [3]:
[(i,'odd')if i%2!=0 else ('even')for i in range(1,11)]

[(1, 'odd'),
 'even',
 (3, 'odd'),
 'even',
 (5, 'odd'),
 'even',
 (7, 'odd'),
 'even',
 (9, 'odd'),
 'even']

In [3]:
#discount Argument
def discount(price,perct):
    new_price=price-(price*perct)
    return new_price

In [4]:
discount(100,0.1)

90.0

In [6]:
discount(0.1,100)

-9.9

In [7]:
discount(perct=0.1,price=100)

90.0

In [8]:
def discount(price,perct=0.1):  # discount argument
    new_price=price-(price*perct)
    return new_price

In [9]:
discount(100,0.1)

90.0

In [11]:
discount(100,perct=0.15)

85.0

In [10]:
min(10,9)

9

In [5]:
s1=pd.Series([1,2,3,4,5,6,7,8,9],index=['a','b','c','d','e','f','g','h','i'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [10]:
s1 + 100

a    101
b    102
c    103
d    104
e    105
f    106
g    107
h    108
i    109
dtype: int64

In [11]:
s1[:5]   # serch element

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
s1[-5:]

e    5
f    6
g    7
h    8
i    9
dtype: int64

In [34]:
s1*5 # multiplecation   # add like +,/,-,//,**

a     5
b    10
c    15
d    20
e    25
f    30
g    35
h    40
i    45
dtype: int64

In [6]:
def func(*args):
    return args

In [7]:
func(10,12,19,12)

(10, 12, 19, 12)

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
def func(*args):
    return args

In [ ]:
func(a=20,b=30,c=40)

In [33]:
s2 = {'name':['prakash','anshul','vishwajeet'],
   'pyment':(83000,95000,100000),
   'year':[2023,2023,2023]}
s3=pd.DataFrame(s2)
print(s3)

         name  pyment  year
0     prakash   83000  2023
1      anshul   95000  2023
2  vishwajeet  100000  2023

In [45]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s2=pd.Series([10,20,30,40,50,60,70,80,90])

In [51]:
s1+s2   # you will add the +,-,*,/,//,**

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [22]:
# Formet 1
minimum=int(input('Enter the min'))
maximum=int(input('Enter the max'))

for n in range(minimum,maximum+1):
    if n >1:
        for i in range(2,n):
            if (n%i)==0:
                break
           
        else:
            print(n)

Enter the min8
Enter the max12
11

In [23]:
# Formet 2
numr=int(input('Enter range:'))
print('Prime Number:',end=' ')
for n in range(1,numr) :
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        print(n,end=' ')

Enter range:9
Prime Number: 1 2 3 5 7

In [26]:
# sorting elements in the list
# method -1

mylist =[5,8,9,6,3]

for i in range(i+1,len(mylist)):
    for j in range(i+1,len(mylist[i])):
        if mylist[j]<mylist[i]:
            mylist[i],mylist[j]=mylist[j],mylist[i]
            
print(mylist)

# method 2
mylist=[2,5,7,5,3,4,5,2]
ass=[]
while mylist:
    minimum=mylist[0]
    for i in mylist:
        if i<minimum:
            minimum=i
    ass.append(minimum)
    mylist.remove(minimum)
print(ass)

[5, 8, 9, 6, 3]
[2, 2, 3, 4, 5, 5, 5, 7]

In [27]:
# find the maximam number from on array

In [28]:
arr=[5,4,3,6,9]

maximum=arr[0]

for i in arr:
    if i>maximum:
        maximum=i
print(maximum)

9

In [29]:
# for accending 
mylist =[5,8,9,6,3]
new=sorted(mylist)
print(new)

[3, 5, 6, 8, 9]

In [30]:
# for deccending
mylist =[5,8,9,6,3]
new=sorted(mylist,reverse=True)
print(new)

[9, 8, 6, 5, 3]

In [32]:
# find duplicate value and sort in accending order

mylist=[2,5,7,5,3,4,5,2]

def duplicate(mylist):
    empty=[]
    ass=[]
    
    for i in mylist:
        if i not in empty:
            empty.append(i)
            
    while empty:
        minimum=empty[0]
        for i in empty:
            if i <minimum:
                minimum=i
        ass.append(minimum)
        empty.remove(minimum)
    return ass

In [33]:
duplicate([2,5,7,5,3,4,5,2])

[2, 3, 4, 5, 7]

In [46]:
# sorting list on accending order
mylist=[5,8,9,6,3]
empty=[]

while mylist:
    minimum=mylist[0]
    for i in mylist:
        #or i <minimum:
            minimum=i
    empty.append (minimum)
    mylist.remove(minimum)
print(empty)

[3, 6, 9, 8, 5]

In [47]:
# python program to find secound largest number in a list
# list of numbers
list1=[10,20,20,4,45,45,45,99,99]

# removing duplicates from the list
list2=list(set(list1))

# sorting the list if posible if above method to sort
list2.sort()

# print second last element
print('second largest element is',list2[-2])

second largest element is 45

In [1]:
def fab (n):
    if n ==0:
        return 0
    elif n==1:
        return 1
    elif n==2:
        return 1
    else:
        return fab(n-1)+fab(n-2)    
    for i in range(1):
        print(fab(i),end=',')

In [2]:
def Fibonacci(n):
    # check if input is 0 than it will
    # print incorrect input
    if n<0:
        print('Incorect Number')
        
        # check if n is 0
        # than it will return 0
    elif n==0:
        return 0
        # check if n is 1,2
        # it will return 1
    elif n==1 or n==2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
# Driver Program
print(Fibonacci(9))

34

In [53]:
# Fabonacci Series
def fab (n):
    if n ==0:
        return 0
    elif n==1:
        return 1
    elif n==2:
        return 1
    else:
        return fab(n-1)+fab(n-2)    
    for i in range(1):
        print(fab(i),end=',')

# Function for nth fibonacci number
def Fibonacci(n):
    # check if input is 0 than it will
    # print incorrect input
    if n<0:
        print('Incorect Number')
        
        # check if n is 0
        # than it will return 0
    elif n==0:
        return 0
        # check if n is 1,2
        # it will return 1
    elif n==1 or n==2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
# Driver Program
print(Fibonacci(9))

34

In [55]:
# print list in deccending order
mylist=[5,8,9,6,3]
empty=[]

while mylist:
    maximum =mylist[0]
    for i in mylist:
        if i<maximum:
            maximum=i
    empty.append(maximum)
    mylist.remove(maximum)
print(empty)

[3, 5, 6, 8, 9]

In [56]:
# Reversing the list
mylist=[5,8,9,6,3]
new=mylist[::-1]
print(new)

[3, 6, 9, 8, 5]

In [60]:
# cheching string is palindrome or npt
mystring='malam'
new=mystring[::-1]

if mystring ==new:
    print('Its Palindrome')
else:
    print('Its not palindrome')

Its Palindrome

In [62]:
# without indexing 
mystring='mam'
string=''

for i in mystring:
    string=i+string
    
if mystring == string:
    print('Its palindrome')
else:
    print('Its not palindrom')

Its palindrome

In [66]:
# find the duplicate number in mylist
mylist=[1,1,1,1,2,3,3,6,9,7,6]
print(set([ x for x in mylist if mylist.count(x)>1]))

# using Long-method

empty=[]
for i in mylist:
    if mylist.count(i)>1:
        empty.append(i)
print(set(empty))

{1, 3, 6}
{1, 3, 6}

In [68]:
# Number of words in a given sentence
mystring='Maintaining & expending the database of proscpects for the organization.'
len(mystring.split())

10

In [73]:
# find a number in a list whether it is present or not
find=int(input('Enter the number you want to find :'))
mylist=[5,8,9,6,3]

if find in mylist:
    print('Number Found')
else:
    print('Number no found')

Enter the number you want to find :5
Number Found

In [74]:
# extract digit from a given string
mystring='Maintaining 12345 & expending 13345 the database of prospects for 12345 the org:'
digit=''

for i in mystring:
    if i.isdigit()==True:
        digit=digit+i
        
print(digit)

123451334512345

In [75]:
# convert the string in to words
mystring='Maintaining  12345 & expending 12345the database of prospects for 12345 thr org:'
mystring.rstrip().split(' ')

['Maintaining',
 '',
 '12345',
 '&',
 'expending',
 '12345the',
 'database',
 'of',
 'prospects',
 'for',
 '12345',
 'thr',
 'org:']

In [1]:
# check whether a number is palindrome
num=1221

temp=num

rev=0

while (num>0):
    rem=num%10
    rev=rev*10+rem
    # use to add digit in last suppose in 34 we want
    # to make 345 then what we do multiply by 10 then add 5
    
    num=num//10 # use to access quotient
    
print(rev)
print(temp)

if temp==rev:
    print('palindrome')
    print('not palindrome')

1221
1221
palindrome
not palindrome

In [2]:
# very important suppose we are saving some number with variable and that variable
# is assign to some new variable so if you make changes in old variable no change will happy
# in newly assign variable becouse string and integer are imutable

num=1221
print(num)

temp=num
print(temp)

print(id(num))
print(id(temp))

num=num+1

print(num)
print(temp)

print(id(num))
print(id(temp))

1221
1221
2361449266000
2361449266000
1222
1221
2361449265456
2361449266000

In [3]:
# Factorial of a number
def fact(num):
    if num<0:
        return 'number invalid'
    elif num==1:
        return 1
    elif num==0:
        return 0
    else:
        return num *fact(num-1)
# find the factorial Series
for i in range(5):
    print(fact(i))

0
1
2
6
24

In [4]:
fact(3)

6

In [7]:
# factorial without reccurence
num=4
fact=1

if num<0:
    print('please enter valid number')
elif num == 0:
    print(0)
elif num ==1:
    print(1)
else:
    for i in range(2,num+1):
        fact = fact*i
        print(fact)

2
6
24

In [8]:
# amstron number
num =int(input('Enter a number'))
temp=num

add=0

while temp >0:
    rem=temp%10
    add=add+rem**3
    temp=temp//10
    if num ==add:
        print('Its Amstrong Number')
else:
    print('Its Not Amstrong')

Enter a number153
Its Amstrong Number
Its Not Amstrong

In [9]:
# find the lenght of array without using len function
arr=[1,5,9,6,3]

counter=0
for i in arr:
    counter =counter+1
print(counter)

5

In [11]:
# python program to clear to list
# using clear() method

# creating list
GEEK=[6,0,4,1]
print('GEEK before clear:',GEEK)

# clearing list
GEEK.clear()
print('GEEK after clear:',GEEK)

GEEK before clear: [6, 0, 4, 1]
GEEK after clear: []

In [12]:
# remove the empty list from list
test_list=[5,6,[],3,[],[],9]
#printing original list
print('The original list is :'+str(test_list))

# remove empty list from list
# using list compention
res=[ele for ele in test_list if ele !=[]]

# printing result
print('List after empty list removel:'+str(res))

The original list is :[5, 6, [], 3, [], [], 9]
List after empty list removel:[5, 6, 3, 9]

In [14]:
# find the lenght of arraywithout using len function 
arr=[1,5,9,6,3]

counter=0

for i in arr:
    counter =counter+1
    print(counter)

1
2
3
4
5

In [1]:
ascci_start = ord("A")

for i in range(6):
    for j in range(i+1):
        print(chr(ascci_start), end = " ")
        ascci_start += 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [16]:
# Right angle Triangle
num=5

for i in range(1,num+1):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****

In [17]:
num = 5
for i in range(1,num+1):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
num=5
for i in range(1,num+1):
    for j in range((num-i)+1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [20]:
num=5
for i in range (1,num+1):
    for j in range((num-i)+1):
        print(j+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [2]:
# creating star pyramid
rows=int(input('Enter number of rows:'))
k=0
for i in range(1,rows+1):
    for space in range(1,(rows-i)+1):
        print(end=' ')
    while k!=(2*i-1):
        print('*',end='')
        k+=1
    k=0
    print()

Enter number of rows:12
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************

In [32]:
# finding the leap year
num=int(input('Enter a number :'))
if num % 4 ==0:
    print('leap year')
elif num % 400 ==0:
    print('leap year')
elif num % 100==0:
    print('not leap year')
else:
    print('not leap year')

Enter a number :180
leap year

In [35]:
# prime number 
num=int(input('enter a number :'))
flag=0
for i in range(2,num):
    if num%i==0:
        flag=flag+1
if flag ==0:
    print('Its prime number')
else:
    print('not prime')

enter a number :7
Its prime number

In [37]:
# optimized code
num=int(input('Enter a number :'))
flag = 0
for i in range(2,int(num/2)+1):
    if num%i==0:
        flag=flag+1
if flag ==0:
    print('Its prime number')
else:
    print('Not Prime')

Enter a number :7
Its prime number

In [39]:
# optimized code
num=int(input('Enter a number :'))
flag = 0
for i in range(2,int(num**0.5)+1):
    if num%i==0:
        flag=flag+1
if flag ==0:
    print('Its prime number')
else:
    print('Not Prime')

Enter a number :999999937
Its prime number

In [41]:
# Reversing the list
mylist=[1,2,3,4,5,]
a=mylist[::-1]
print(a)

[5, 4, 3, 2, 1]

In [43]:
# Reversing a list
mylist=[1,2,3,4,5]
for i in range(int(len(mylist)/2)):
    mylist[i],mylist[len(mylist)-i-1]=mylist[len(mylist)-i-1],mylist[i]
    
print(mylist)

[5, 4, 3, 2, 1]

In [44]:
# print the list of the integers from throgh as a string without spaces.
num= int(input('Enter a number'))
for i in range(1,num+1):
    print(str(i),end=' ')

Enter a number5
1 2 3 4 5

In [51]:
#count of maximum accuring latter and number of times it is repeted
mystring='Hello Everyone ,good afternoon'
mydict={}

for i in mystring:
    if i in mydict:
        mydict[i]=mydict[i]+1
    else:
        mydict[i]=1
print(mydict)
        
mylist=[]
new_dict={'Key':'a','value':0}

for i in mydict:
    if mydict[i] > new_dict['value']:
        new_dict['key']=i
        new_dict['value']=mydict[i]
        
print(new_dict)

{'H': 1, 'e': 4, 'l': 2, 'o': 6, ' ': 3, 'E': 1, 'v': 1, 'r': 2, 'y': 1, 'n': 3, ',': 1, 'g': 1, 'd': 1, 'a': 1, 'f': 1, 't': 1}
{'Key': 'a', 'value': 6, 'key': 'o'}

In [53]:
# maximum accurence of 0s in a string
string =input('Enter a binary number : ')
mulist=[]

for i in string.split('1'):
    mylist.append(len(i))
    
print(max(mylist))

Enter a binary number : 100010000
4

In [55]:
# Fizz Buzz Method 
num=int(input('Enter a number : '))
for i in range(1,num+1):
    if i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    elif i%5==0and i%3==0:
        print('FizzBuzz')
    else:
        print(i)

Enter a number : 3
1
2
Fizz

In [68]:
def fizz(num):
    dic = {3:'fizz',5:'buzz'}
    for i in range(1,num+1):
        result = ''
        for k,v in dic.items():
            if i%k==0:
                result=result+v
        if not result:
            result = i
            print(result)
            
fizz(15)

1
2
4
7
8
11
13
14

In [81]:
# charecter accourence 
#least repeting charector in string

string='aaaasssssssssdddddddd'

lrc={}

for i in string:
    if i in lrc:
        lrc[i]=lrc[i]+1
    else:
        lrc[i]=1
        
print(lrc)  # print the occourance of all the charectord
result=min(lrc,key = lrc.get)        
print(result)

{'a': 4, 's': 9, 'd': 8}
a

In [82]:
# Display Count of any perticuler element in a string

string='aaaasssssssssdddddddd'

search='a'

lrc={}

for i in string:
    if i in lrc:
        lrc[i]=lrc[i]+1
    else:
        lrc[i]=1
        
print(lrc)  # print the occourance of all the charectord
      
print(lrc[search])

{'a': 4, 's': 9, 'd': 8}
4

In [84]:
# you are given a string 's' suppose a charector 'c'  occcurs counsecutively 'x' times
# in the string reaplace these consecutive accurrences of the charector 'c' with (x,c) in S should be a number
from itertools import groupby
for k,c in groupby(input('Enter a Number:')):
    print((len(list(c)),int(k)),end=' ')

Enter a Number:11223
(2, 1) (2, 2) (1, 3)

In [5]:
# write the python code to print the following pattern
for i in range (7,0,-1):
    for j in range (i,0,-1):
        print(i,end=' ')
    print()

7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [7]:
rows=int(input('enter number of rows:'))
for i in range (rows,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

enter number of rows:6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [9]:
# Reversing a number
num=1234
temp=1234

rev=0

while temp:
    rem=temp%10
    rev=rev*10+rem
    temp=temp//10
    
print('The reverse of number is',rev)

The reverse of number is 4321

In [85]:
# remove a charector from a string
name='payal'
name.replace('l','')

'paya'

In [87]:
# Anagam words containing same latters and charectors 
def anagramCheck(str1,str2):
    if (sorted(str1)==sorted(str2)) :
        return True
    else:
        return False
str1=input('Please Enter String 1 :')
str2=input('Please Enter String 2 :')    

if anagramCheck(str1,str2):
    print('Anagram')
else:
    print('Non an anagram')

Please Enter String 1 :payal
Please Enter String 2 :ayalp
Anagram

In [93]:
# sorted charectors of string in sorted order

mustring=input('Enter a string :')

ass_new=''.join(sorted(mystring))

desc_new=''.join(sorted(mystring,reverse=True))

print(ass_new)
print(desc_new)

Enter a string :payal
   ,EHadeeeefgllnnnoooooorrtvy
yvtrroooooonnnllgfeeeedaHE,

In [95]:
#find missing number in a array
array=list(range (0,101))
check=list(range(0,11))

missing=[]

for i in array:
    if i in check:
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [97]:
# Occorence of word in loist
weekdays=['sunday','monday','tuesday','wednesday','thursday','friday','saturday']

print(weekdays.count('monday'))

1

In [101]:
# python program to count the number of vovels in a string
string=input('Enter string:')

vowels=0

for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O'):
        vowels=vowels+1
    
print('Number of vowels are:')
print(vowels)

Enter string:payal
Number of vowels are:
2

In [104]:
# counts of vowels and cosonants
#tacking input from the user
string = input('Enter a String')
vowels=0
consonants=0

for i in string:
    if i in ('a','e','i','o','u','A','E','I','o','U'):
        vowels+=1
    elif i.isalpha():
        consonants+=1
print('Vowels:',vowels,'Consonants:',consonants)

Enter a Stringprakash
Vowels: 2 Consonants: 5

In [3]:
import calendar
year=2023
month=8
print(calendar.month(year,month))

    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31