# Introduction to python

In [1]:
num=4
num

4

In [2]:
num

4

In [3]:
x = y = z = 10

In [4]:
x

10

In [5]:
y

10

In [6]:
z

10

In [7]:
x,y,z

(10, 10, 10)

#  Updating Variables and Srtings

In [8]:
a = 'Great Learning'

In [9]:
a

'Great Learning'

In [10]:
a,b,c = 4,5,"grat learning"

In [11]:
a

4

In [12]:
a
b
c

'grat learning'

In [13]:
b

5

In [14]:
c

'grat learning'

In [15]:
b

5

#  Good practices of naming variables

In [69]:
var1 = 83
var2 = 'prakash'
var2=var1

In [2]:
var1

83

In [3]:
var2

83

In [4]:
var1+var2

166

In [5]:
var2='prakash'

In [6]:
var2

'prakash'

# Integer, Float and Complex

In [8]:
a = -5
type(a)

int

In [9]:
a=0.123
type(a)

float

In [10]:
a=1600000
type(a)

int

In [11]:
a=1.6e4
type(a)

float

In [12]:
x=3+4j
type(x)

complex

# Operations of Strings

In [27]:
str1= "great"
str2="Learning"
str1+str2

'greatLearning'

In [28]:
str4='actg'
str4*10

'actgactgactgactgactgactgactgactgactgactg'

In [29]:
str4[0]

'a'

In [30]:
str4[0]

'a'

In [31]:
str4[2]

't'

In [32]:
str4[-1]

'g'

In [33]:
str4[-2]

't'

In [34]:
str1[0]

'g'

In [35]:
str1[0:2]

'gr'

In [36]:
str2[0:3]

'Lea'

In [37]:
str4(0)

TypeError: 'str' object is not callable

# Type Markdown and LaTeX:  𝛼2

In [38]:
var = True
type(var)

bool

# Boolean Data type

Name of a Jorge Bool

In [39]:
var = False
type(var)

bool

In [40]:
10>9

True

In [41]:
9 > 10

False

In [42]:
type(11)

int

In [43]:
float(11)

11.0

In [44]:
float('11')

11.0

# Changing Data Type

In [40]:
type(11.7)

float

In [41]:
int(11.7)

11

In [42]:
int(-11.7)

-11

# Print Statement

In [48]:
print("Hello World")

Hello World

In [51]:
x=7
x

7

In [50]:
print("x=",x)

x= 7

In [52]:
x=7
y=9
x
y
print("x= ",x,end='\n\n')
print("y= ",y)

x=  7

y=  9

# user input

In [53]:
age=int(input("please enter your age: "))
print(age)
type(age)

please enter your age: 25
25

int

# Arithematic operators

In [54]:
a=12
b=2
# '+' operater
print('a+b=',a+b)

a+b= 14

In [55]:
# '-' operater
print('a-b=',a-b)

a-b= 10

In [56]:
# '*' operater
print('a*b=',a*b)

a*b= 24

In [57]:
# '/' operater
print('a/b=',a/b)

a/b= 6.0

In [58]:
# '//' operater
print('a//b=',a//b)

a//b= 6

In [59]:
# '%' operater
print('a%b=',a%b)

a%b= 0

In [60]:
# '**' operater
print('a**b=',a**b)

a**b= 144

In [61]:
a+b

14

# comparison operator

In [62]:
a=10
b=20
# '>'operator
print('a>b'is a>b)

False

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\praka\AppData\Local\Temp\ipykernel_20368\3109797911.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('a>b'is a>b)

In [63]:
# now use simple <,==,!=,>=,<=

# Assignment operator

In [51]:
#'=' operator
x=5
print("x= ",x*2)

x=  10

In [65]:
# just use +=,-=2,*=2,*=2,/=4

# logical operator

In [52]:
x=11
a=x>10 and x<20
print(a)

True

In [67]:
x=11
a=x>10 and x==12
print(a)

False

In [ ]:
# And ,Or ,Not

# or' operator

In [53]:
x=11
a=x>10 or x==20
print(a)

True

In [67]:
x=11
a=x>12 or x==20
print(a)

False

# 1. Introductin To List

Constracting To List

to Create a list ,use squre brackets []

In [13]:
# create a empty list
empty_list = []
empty_list

[]

In [14]:
# nested list
my_list=[['data scince','machine learning'],[135,232,321]]
my_list

[['data scince', 'machine learning'], [135, 232, 321]]

# indexing list

In [68]:
# difine a list
course = ['data scince','machine learning','python','html','big data']

print(course)
# access the secound item of a list of index ]
print(course[0])

['data scince', 'machine learning', 'python', 'html', 'big data']
data scince

# negetive indexing

In [74]:
# difine a list
course = ['data scince','machine learning','python','html','big data']

# access the secound item of a list of index -2
print(course[-2])

html

# slicing list

In [1]:
# difine a list
course = ['data scince','machine learning','python','html','big data']

# print first three element from the list
course[:3]

['data scince', 'machine learning', 'python']

In [76]:
# difine a list
course = ['data scince','machine learning','python','html','big data']
# print the all elements
course[:]

['data scince', 'machine learning', 'python', 'html', 'big data']

In [77]:
# difine a list
course = ['data scince','machine learning','python','html','big data']
# print the all elements
course[2:]

['python', 'html', 'big data']

In [54]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

# change in word

In [55]:
# define a list
course = ['data scince','machine learning','python','html','big data']

# Change the third item
course[3]='statstics'
course

['data scince', 'machine learning', 'python', 'statstics', 'big data']

# List Methods

# list.append(item)
append()-- add eliment to the list
insert()
extend()
del   ()
remove()
pop()
reverse()

In [80]:
# define a list
course1 = ['data scince','machine learning','python','html','big data']

course2 = ['statistics']
# add element to the list
course1.append(course2)
course1

['data scince',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

# list.insert(items)

In [81]:
# define a list
course = ['data scince','machine learning','python','html','big data']

#insert element at 2nd index in a list
course.insert(2,'statistics')
course

['data scince', 'machine learning', 'statistics', 'python', 'html', 'big data']

# list.extand(items)

In [82]:
# define a secound list
course2 = ['artificial intelligence']

#concatenate the list
course1.extend(course2)

course1

['data scince',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics'],
 'artificial intelligence']

# Deleting List Elements

In [56]:
# define a list
course = ['data scince','machine learning','python','html','big data']

#delete the third element from the list
del course[2]

# print the output 
course

['data scince', 'machine learning', 'html', 'big data']

#  list.remove(items)

In [85]:
# define a list
course = ['data scince','machine learning','python','html','big data']

course.remove('html')

course

['data scince', 'machine learning', 'python', 'big data']

# list.pop()

In [92]:
# define a list
course = ['data scince','machine learning','python','html','big data','html']
# Python list pop() is an inbuilt function in Python that removes and returns the 
# last value from the List or the given index value.
course.pop()

'html'

In [86]:
# define a list
course = ['data scince','machine learning','python','html','big data','html']

course.pop()
course

['data scince', 'machine learning', 'python', 'html', 'big data']

# list.reverse()

In [87]:
# define a list
course = ['data scince','machine learning','python','html','big data']
# Python reversed() method returns an iterator that 
# accesses the given sequence in the reverse order.
course.reverse()
course

['big data', 'html', 'python', 'machine learning', 'data scince']

# common list Operations

# concatenation (+)

In [88]:
# define a first list
course1 = ['data scince','machine learning','python','html','big data']

# define a second list
course2 = ['artificial intelligence']
# In Python, Strings are arrays of bytes representing Unicode characters.
# However, Python does not have a character data type,
# a single character is simply a string with a length of 1. 
# Square brackets [] can be used to access elements of the string.

# concatenate the list
course1 + course2

['data scince',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

# Repetition(*)

In [28]:
# define a first list
course1 = ['data scince','machine learning','python','html','big data']
# Sometimes we require to add a duplicate value in the list for several different utilities.
# This type of application is sometimes required in day-day programming
course1*2

['data scince',
 'machine learning',
 'python',
 'html',
 'big data',
 'data scince',
 'machine learning',
 'python',
 'html',
 'big data']

# 2. Introduction to tuple

# Creating Tuple

In [29]:
# tuple of int,float,string
my_tuple=(123,2.228,'hello python')
# Python Tuple is a collection of objects separated by commas.
# In some ways, a tuple is similar to a list in terms of indexing,
# nested objects, and repetition but a tuple is immutable,
# unlike lists which are mutable.
print(my_tuple)

(123, 2.228, 'hello python')

In [91]:
# tuple of string and list
my_tuple=('python', 10,12,50)
print(my_tuple)

('python', 10, 12, 50)

## Access Tuple Elements
we use indexes to access the elements of a tuple

In [92]:
# tuple of string
my_tuple=('mango','yellow','green','blue')

# access the second element from the list
my_tuple[1]

'yellow'

# Negetive indexing

In [35]:
# tuple of string
my_tuple=('mango','yellow','green','blue')

# print last item of the tuple
my_tuple[-2]

'green'

# change tuple Values

In [94]:
# defind my  tuple 
my_tuple = (123,['s','a','v'],'world')
print(my_tuple)

# changing the element of the list
# this is valid because list is moutable
my_tuple[1][2]=99
print(my_tuple)

(123, ['s', 'a', 'v'], 'world')
(123, ['s', 'a', 99], 'world')

In [95]:
# defind the  tuple 
my_tuple = ('mango','yellow','green','blue')

# changing the element of tuple
# this is not valid since tuple elements are immutable
my_tuple[0]='orange'
print(my_tupple)

TypeError: 'tuple' object does not support item assignment

#  Delete operation on tuple

In [59]:
# define the tuple
my_tupple=['mango','yellow','green','blue',353,363.2,'w']

del my_tupple[0]

In [60]:
my_tupple

['yellow', 'green', 'blue', 353, 363.2, 'w']

In [61]:
len(my_tupple)      # len like how many element are in our data number of our store data

6

# Tuple Methods

python has two built-in methods that you can use on tuples:
count()
index()
sorted()
returns the number of times a specified value occurs in a tuple

#  COUNT()

In [63]:
my_tupple=('a','p','p','i','e','e','d','e','d','e','a','c','w')
my_tupple.count('e')                              # like how many times in e  in this tuupple

4

#  index()

In [98]:
my_tuple=('a','p','p','i','e','e','d','e','d','e','a','c','w')
my_tuple.index('i')

3

#   sorted()

In [99]:
my_tuple=(2,3,5,6,4,7,8,9,9,2,3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

# Introduction to Dictionary

General Syntax Of Dictionary
dictionary_name={key_1:value_1.
                 key_2:value_2
                 key_3:value_3
                 }
                 
                 
                 
                 
                 
Create Dictionary

In [64]:
# create dictionry 
payment={
    'Prakash' :82847,
    'Ashutosh':83837,
    'Vishwajit':94766
}
print(payment)

{'Prakash': 82847, 'Ashutosh': 83837, 'Vishwajit': 94766}

# Accessing items

In [65]:
# Get the value of 'mia' key
x=payment['Prakash']
x

82847

In [66]:
x=payment['Ashutosh']
x

83837

#  Chenge Values in Dictionary

In [103]:
# create a dictinary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [104]:
# change the sales figure for 2015
year_sales[2015]=45000
year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

# Dictionary Length

In [105]:
# print the length of dictionary
print(len(year_sales))

3

# Adding items

In [106]:
# create a dictinary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
year_sales['2018']=55000
year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

#  length

In [107]:
# print the length of dictionary
print(len(year_sales))

4

# Dictionry Method

There are several methods to remove items from a dictinary:
pop() method
popitem() method
del keywords
clear keyword
sorted()
update()

In [108]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

# popitmes()

In [109]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# remove key from dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

#  Del keywords

In [110]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# delete item from dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

#  clear ()

In [111]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# clear the dictionary
year_sales.clear()

year_sales

{}

# Copy

In [112]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# make a copy of dictionary
copy_dict=year_sales.copy()

# sorted ()

In [113]:
square={1:1,3:9,5:25,7:49,9:81}
sorted(square)

[1, 3, 5, 7, 9]

#  update()

In [114]:
# create a Dictionary
year_sales={
  2015:34500,
  2016:34300,
  2017:40000
}
# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

# Introduction To Sets



create sets

In [115]:
# create a set
s={1,2,3,3,4,3,3,2,2,2}
print(s)

#create a set
set([1,2,3,4,4,4])

{1, 2, 3, 4}

{1, 2, 3, 4}

In [116]:
s={1,2,3,3,4,3,3,2,2,2}
# adding'a'
s.add('a')
print('alphabates:',s)

alphabates: {1, 2, 3, 4, 'a'}

In [23]:
list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]

# Lists converted to sets
set1 = set(list2)
set2 = set(list1)

# Update method
set1.update(set2)

In [18]:
set2

{5, 6, 7}

In [24]:
# set of letters
GEEK = {'g', 'e', 'k'}
 
# adding 's'
GEEK.add('s')
print("Letters are:", GEEK)
 
# adding 's' again
GEEK.add('s')
print("Letters are:", GEEK)

Letters are: {'g', 's', 'k', 'e'}
Letters are: {'g', 's', 'k', 'e'}

In [25]:
# Python program to find the length
# of set
  
set1 = set()  
    
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add((6, 7)) 
  
print("The length of set is:", len(set1))

The length of set is: 3

In [121]:
numbers = {1,2,3,4,5,6,7,8,9}
print(numbers)

# Deleting 5 from the set
numbers.remove(5)

# printing the resultant set
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}

In [122]:
s1 = {9, 1, 0}
s1.pop()
print(s1)

{9, 1}

python has the following methods that you can use on sets:<bar>
add()<bar>
update()<bar>
len()<bar>
removed()<bar>
pop()<bar>

<a='loops'> </a>

## ## Conditional Stetement and Loops

<a id='if satement'> </a

## 5.1 if statement

if BOOLEAN EXPRESSION:
STATEMENT

Now, We will see some examples on if statements

In [123]:
# Create a string
my_string='python'

# create a list
my_list=['Data scince','Machine learning','Artificial Intelligence','python']

if my_string in my_list:
    print(my_string+'Tutorial')

pythonTutorial

In [124]:
# Create a string
my_string='python'

# create a list
my_list=['Data scince','Machine learning','Artificial Intelligence','python']

if my_string in my_list:
    print(my_string+' Tutorial')

python Tutorial

Test if an item is a member of a list or not.

In [125]:
languages=['java','python','perl','ruby','c#']
if 'python' in languages:
    print('right')

right

#  5.2 if else statement

if BOOLEAN EXPRESSION: 
STATEMENT_1

else:
STATEMENT_2

In [126]:
# creat a integer
x=200
print(x)

# use the not operator to reverse the result of the logical expression
if not x==500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [127]:
string1=str(input('enter your userid'))
string2=str(input('enter your password'))

if (string1=='greatlearning' and string2=='simplelearning123'):
    print('succefully logged in!!')
else:
    print('please check your userid and password')

enter your userid82
enter your passwordpassword
please check your userid and password

<a id ='if elif else'> </a>
## 5.3 if elif else

** syntax of if elif else:**<bar>
    if x <y:<bar>
&nbsp;&nbsp;    STATEMENT_A<bar>
elif x > y:<bar>
&nbsp;&nbsp     STATEMENT_B<bar>
else:<bar>
&nbsp;&nbsp;    STATEMENT_C

**Here is the flow chart of if elif else:**
               <img src = 'flowchart_if_elif.png'>

Check whether the given number is greter than 50 or not

In [128]:
num=100
if (num==0):
    print('number is zero')
elif(num > 5):
        print('number is greter than 50')
else:
    print('number is smaller than 50')

number is greter than 50

<a id = 'nested_if'> </a>
# 5.4 nested if and if else statement

In [129]:
num=float(input('Enter a number:'))
if num>=0:
    if num == 0:
         print('zero')
    else:
        print('positive number')
else:
    print('negative number')

Enter a number:82
positive number

<a id='forloop'> </a>
# 5.5 for loop

In [27]:
# program to find the sum of all numbers stored in a list

# list of numbers
numbers = [66,545,223,438,224,122,125,214,111]
# variable to store the sum 
sum=0
# iterate over the list
for val in numbers:
    sum=sum+val
    
# output the sum is
print('The sum is',sum)

The sum is 2068

<a id='whileloop'> </a>
## 5.6while loop

calculate the sum of the integers from 0 to 9

In [131]:
a=0
b=0
while (a<10):
    b=b+a
    a=a+1
else:
    print('the sum of first 9 integers : ',b)

the sum of first 9 integers :  45

<a id='break_statement'> </a>
## 5.7 break statement

In [132]:
for i in range(5):
    a=int(input())
    if a < 0:
        print('Met a nigetive number', a)
        break
else:
    print('no nigetive numbers met')

82
95
125
165
250
no nigetive numbers met

# 5.8 continue statement

In [133]:
#  loop from 1 to 10
for i in range(1,11):
    if i ==6:
        continue
    else:
        # otherwise print the value of i
        print(i,end= ' ')

1 2 3 4 5 7 8 9 10

use the continue statement in a while loop

In [134]:
i=0
while i<9:
    i+=1
    if i ==3:
        continue
    print(i)

1
2
4
5
6
7
8
9

# The else Statement

In [135]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Functions

1. Built-in functions

def fun (params):
statement1
statement2
   .
   .
   .

fun(sample_parameters)

#  2.1 User defined functions without arguments

In [136]:
def twice():
    a = int(input('enter a number: '))
    print(a*2)

In [137]:
# in this function, no argument is passed 
# call the function
twice()

enter a number: 82
164

In [138]:
def four():
    a=int(input('enter a number'))
    print(a*4)

In [140]:
four()

enter a number950
3800

# 2.2 User defined functions with arguments

Most of the function will either 'return' a value are 'print' an output . take a note of this in the examples considered below.


user defined function to get the average of all numbers in a sequence.

In [141]:
def average(x):
    count=0
    total=0
    for i in x:
        count+=1
        total+=1
    avg=total/count
    return avg

In [142]:
x=(44,45,-56,44,32,-54,44,56,44,87,44,56)

In [143]:
# call the founction
average(x)

1.0

# 2. Usage of *args.

In [144]:
#* indicates the number of arguments can be taken
def multiple(*args):
    for parameter in args:
        print(parameter)

In [145]:
# call the function
multiple('Lets','learn','python','for','data','scince')

Lets
learn
python
for
data
scince

# usage of 'kwargs'**

In [146]:
def function(**kwargs):
    for a,b in kwargs.items():
        print(a,'==',b)

In [147]:
# call the function
a=function(A= 'first letter',b='Second letter',c= 'Third lrtter')

A == first letter
b == Second letter
c == Third lrtter

# Lambda Functions
1.Obtain the minimum among two numbers

In [148]:
min_value=(lambda x,y: x if x < y else y)
min_value(34,78)

34

2.Check whether two strings are equal

In [149]:
result=(lambda x, y: 'True' if x == y else 'falsee')
result('Data','Data')

'True'

3.Demonstrating wrong  usuage of variable name

In [150]:
# multiplication - wrong usage of variable
x = lambda a,c : a+b
print(x(5,6))

50

# Recursive Functions
A function that calls itself is a recursive function. Recursive function is used when a certain problem is defined in terms of itself.

In [3]:
# calculate the sum of all numbers present in the list
def sum_list(nums):
    if len(nums) == 0:
        return 0

    last_num = nums.pop()
    return last_num + sum_list(nums)

num = [1,2,3,4]
sum_list(num)

10

In [4]:
# implementation of the fibonacci series using recursion
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)
 
 
for i in range(15):
    print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 4. Overview of map, reduce and filter functions

5.1 Function map()

In [151]:
marks = [20,23,34,45,33,10,43,23,27,34,37,44,42,43]
print(list(map(lambda x,y=100:x*y/45,marks)))

[44.44444444444444, 51.111111111111114, 75.55555555555556, 100.0, 73.33333333333333, 22.22222222222222, 95.55555555555556, 51.111111111111114, 60.0, 75.55555555555556, 82.22222222222223, 97.77777777777777, 93.33333333333333, 95.55555555555556]

# Function filter

In [157]:
numbers = [121,443,477,125,34,655,458,141,363,125,456,578,123]

# function that filters the numbers
def evennumber(in_num):
    if(in_num % 2) ==0:
        return True
    else:
        return False
    
# use filter() to removed odd numbers
out_filter_number = filter(evennumber,numbers)

print("Type of filter object:  ", type(out_filter_number))
print("Even numbers as follows: ", list(out_filter_number))

Type of filter object:   <class 'filter'>
Even numbers as follows:  [34, 458, 456, 578]

#  2. To obtain the sum of square of even number from 1 to 50

In [5]:
# sum of cubes of odd numbers from 1 to 50

# user drfined function to obtain the cube
def cube(x):
    return(x*x)

# user defined function to obtain odds numbers from a list
def isodd(x):
    return(x%2==1)
# create a list of all cubes
list_cubes=list(map(cube,filter(isodd,range(1,50))))
print(list_cubes)
# sum of all elementsin the in the list_cube
sum(list_cubes)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

20825

In [6]:
# sum of square of even numbers from 1 to 50
# user defined function to obtain the square
def square(x):
    return(x**2)
#user defined function  to obtain even numbers from a list
def iseven(x):
    return(x%2 == 0)
# create a list of all square
list_square = list(map(square,filter(iseven,range(1,50))))
print(list_square)

# sum of all elements in the list_square
sum(list_square)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

19600

In [160]:
print("HELLO WORLD")

HELLO WORLD